{% extends "baselayout.html" %}
{% block title %}GETDATA{% endblock %}
{% block content %}
  <h1 class="pt-5 pb-2">INVOICES</h1>
  <p class="lead alert alert-warning">This is a list of all the invoices in our inventory.</p>
  <div class="table-responsive">
  <table class="table table-striped">
  <thead>
    <tr>
    <th scope="col">N</th>
    <th scope="col">Patient</th>
    <th scope="col">In-Date</th>
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">Value</th>
    <th scope="col">Pay-Date</th>
    <th scope="col">Hash</th>
    </tr>
  </thead>
  <tbody>
  {% for invoice in invoices %}
  <tr>
    <td>{{ invoice.N }}</td>
    <td>{{ invoice.PATIENT }}</td>
    <td>{{ invoice.DATE }}</td>
    <td>{{ invoice.ID }}</td>
    <td>{{ invoice.NAME }}</td>
    <td>{{ invoice.VALUE }}</td>
    <td>{{ invoice.PAYDATE }}</td>
    <td>{{ invoice.HASH }}</td>
  </tr>
  {% endfor %}
  </tbody>
  </table>
  </div>
{% endblock %}